{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>{{ 'title.deploy.check'|trans }}</h1>

    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ applicationConfig.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ applicationConfig.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ applicationConfig.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>
                    <a href="{{ applicationConfig.url }}" target="_blank">
                        {{ applicationConfig.url }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Trigger Url</th>
                <td>{{ applicationConfig.triggerUrl }}</td>
            </tr>
            <tr>
                <th>Api Key</th>
                <td>{{ applicationConfig.apikey }}</td>
            </tr>
            <tr>
                <th>Last Deploy</th>
                <td>{% if applicationConfig.lastDeploy %}{{ applicationConfig.lastDeploy|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('deploy_start', {'configId': applicationConfig.id}) }}"
       class="btn btn-warning">
        {{ 'btn.deploy.start'|trans }}
    </a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{ 'th.deploy.started'|trans }}</th>
                <th>{{ 'th.deploy.ended'|trans }}</th>
                <th>{{ 'th.deploy.success'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for deploy in deploys %}
                <tr>
                    <td>{{ deploy.started }}</td>
                    <td>{{ deploy.ended }}</td>
                    <td>{{ deploy.success }}</td>
                    <td>
                        <a href="{{ path('deploy_log', {'deployId': deploy.id}) }}"
                           class="btn btn-default">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        {{ 'label.deploy.none-for-config'|trans }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
